.header {
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--gap-small);
    border-bottom: 1px solid var(--color-border);
    background-color: var(--color-bg-primary);
}

.avatar {
    width: 4.5rem;
    height: 4.5rem;
}