@import "stylesheets/animations";

.validator {
    width: 100%;
    margin-bottom: var(--gap-small);
    padding: 1.5rem;
    border-radius: var(--border-radius-large);
    border: 1px solid var(--color-border);
    background-color: var(--color-surface);
    color: var(--color-text);

    > *:not(:last-child) {
        margin-bottom: 0.5rem;
    }
}

.item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.circle {
    width: 1.9rem;
    height: 1.9rem;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    border-radius: 50%;
    border: 1px solid var(--color-border);
    background-color: var(--color-bg);
    transition: background-color 0.2s;
}

.valid {
    @extend .circle;
    background-color: var(--color-green);
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fade-in;
    animation-duration: 0.4s;
    font-size: 1.4rem;
    color: var(--color-constant-white);
}

.text {
    font-size: 1.2rem;
}