.container {
    display: flex;
    height: 100vh;
    // Disable overflow so the "sidebar" is fixed in place
    // when the "outlet" content overflows its container
    // Note: Overflow for the "outlet" is enabled below
    overflow: hidden;
}

.wrapper {
    flex: 1;
    overflow-y: auto; // Enable y-axis overflow for the outlet
}

.outlet {
    margin-left: var(--gap);
}