.container {
    height: 100vh;
    display: flex;

    // Disable overflow so the "sidebar" is fixed in place
    // when the "outlet" content overflows its container
    // Note: Overflow for the "outlet" is enabled below
    overflow: hidden;
}

.wrapper {
    flex: 1;

    // Enable y-axis overflow for the outlet
    overflow-y: auto;
}

.outlet {
    margin-left: var(--gap);
}