.base {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--gap-small);
    border-radius: var(--border-radius);
    transition: background-color 0.2s;
    white-space: nowrap;
    user-select: none;
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--color-text);
    overflow: hidden;

    &:hover {
        background-color: var(--color-surface-hover);
    }

    &:disabled {
        background-color: var(--color-ui-disabled);

        &:hover {
            background-color: var(--color-ui-disabled);
        }
    }
}

.icon {
    font-size: 2.5rem;
    color: var(--color-text);
}

.primary {
    height: var(--ui-element-height);
    background-color: var(--color-primary);
    color: var(--color-primary-text);

    &:hover {
        background-color: var(--color-primary-hover);
    }
}

.inline {
    width: fit-content;
}