.sidebar {
    border-right: 1px solid var(--color-border);
    background-color: var(--color-surface);
    transition: all 0.2s ease-in-out;
    overflow-x: hidden;
}

.open {
    @extend .sidebar;
    width: 200px;
}

.close {
    @extend .sidebar;
    width: 0;
    padding-inline: 0;
}

.header {
    display: flex;
    justify-content: flex-end;
    padding: var(--gap-small);
}

.wrapper {
    padding: var(--gap-small);

    > li:not(last-child) {
        margin-bottom: var(--gap-extra-small);
    }
}

.link {
    display: flex;
    align-items: center;
    gap: var(--gap-small);
    padding: var(--gap-small);
    border-radius: var(--border-radius);
    transition: background-color 0.2s ease-in-out;

    &:hover {
        background-color: var(--color-surface-hover);
    }
}

.linkActive {
    @extend .link;
    background-color: var(--color-surface-hover);
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
}

.label {
    transition: opacity 0.2s ease-in-out;
    opacity: 1;
    font-size: 1.8rem;
}