.heading {
    line-height: 1;
    margin-top: var(--gap);
    margin-bottom: var(--gap-large);
    font-size: 3rem;
    font-weight: 900;
    color: var(--color-text);
}

[data-remove-margin="true"].heading {
    margin: 0;
}

.large {
    @extend .heading;
    margin-bottom: var(--gap);
    font-size: 2.5rem;
    font-weight: 700;
}

.medium {
    @extend .heading;
    margin-bottom: var(--gap-small);
    font-size: 1.8rem;
    font-weight: 700;
}

.small {
    @extend .heading;
    margin-bottom: var(--gap-small);
    font-size: 1.4rem;
    font-weight: 700;
}